@model WebApp.Areas.Accounting.Models.AppCustomerBalanceView
@using WebApp.Areas.Accounting.Services
@{
    Dictionary<string, string> ajaxoption = (Dictionary<string, string>)ViewBag.ajaxoption;
}

@Html.Partial("_AddNew")

<section id="@(ajaxoption["ajaxupdateid"])">
    <div class="box box-primary">
        @Html.Partial("_HeaderEdit")

        @using (@Ajax.BeginForm(new AjaxOptions { LoadingElementId = ajaxoption["ajaxloadingid"], InsertionMode = InsertionMode.Replace, UpdateTargetId = ajaxoption["ajaxupdateid"] }))
        {   
            <div class="box-body">
                @Html.AntiForgeryToken()
                @Html.bsValidationSummary(false)
                @Html.svHiddenFor(model => model.AccountID)
                @Html.svHiddenFor(model => model.CustomerID)
                @Html.svHiddenFor(model => model.CustomerBalanceID)
                                @Html.svHiddenFor(model => model.CreatedBy)
                @Html.svHiddenFor(model => model.CreatedDateTime)
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.bsEditorFor(model => model.BalanceDate)
                        @Html.bsEditorFor(model => model.CustomerCode)
                        @Html.bsEditorFor(model => model.CustomerName)
                        @Html.bsEditorFor(model => model.DisplayNumber)
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.bsEditorFor(model => model.Debit)
                                @Html.bsEditorFor(model => model.Credit)
                            </div>
                            <div class="col-md-6">
                                @Html.bsEditorFor(model => model.DebitFC)
                                @Html.bsEditorFor(model => model.CreditFC)
                            </div>
                        </div>

                    </div>
                </div>

                @Html.Partial("_ToolbarListUpdate", ajaxoption)
            </div>
        }
        @Html.Partial("_FooterEdit")
    </div>
</section>

@Scripts.Render("~/bundles/accapp")

<script type="text/javascript">
    //Kiểm tra thay đổi tất cả các text
    //$("#@(ajaxoption["ajaxupdateid"]) input[type='text'],#@(ajaxoption["ajaxupdateid"])  select").die(); //Xóa cache
    $("#@(ajaxoption["ajaxupdateid"]) input[type='text'],#@(ajaxoption["ajaxupdateid"])  select").on("change", function () {
        var sectionid = "#@(ajaxoption["ajaxupdateid"]) ";
        var $thisobject = $(this);
        var val = $(this).val();
        var fieldname = $(this).attr("fieldname");
        var url = '@Url.Action("FieldChange")';
        switch (fieldname) {
            case "CustomerCode":
                //lấy dòng du lieu ve gan cho may cai khac

                $(sectionid + '#CustomerName').val("");
                $(sectionid + '#CustomerID').val("");
                if (val != "") {

                    $.ajax({
                        type: "GET", url: url, dataType: "json",
                        data: { fieldname: fieldname, keyword: val },
                        success: function (data) {
                            if (data.rows != null) {

                                $(sectionid + '#CustomerName').val(data.rows.Name);
                                $(sectionid + '#CustomerID').val(data.rows.CustomerID);
                            }
                            else {
                                $thisobject[0].selectize.setValue('');
                                $thisobject[0].selectize.clearOptions();
                            }
                        }
                    });
                }
                break;
            case "DisplayNumber":
                //lấy dòng du lieu ve gan cho may cai khac

                $(sectionid + '#AccountID').val("");
                if (val != "") {

                    $.ajax({
                        type: "GET", url: url, dataType: "json",
                        data: { fieldname: fieldname, keyword: val },
                        success: function (data) {
                            if (data.rows != null) {

                                $(sectionid + '#AccountID').val(data.rows.AccountID);
                            }
                            else {
                                $thisobject[0].selectize.setValue('');
                                $thisobject[0].selectize.clearOptions();
                            }
                        }
                    });
                }
                break;

            default:
        }
    })

</script>

