@model WebApp.Models.ChangePasswordModel

@{
    ViewBag.Title = "Đổi mật khẩu";
    //Layout = "_LayoutAccount.cshtml";        
}
<div style="padding-top: 20px;"></div>

<div class="container">

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">

                    <hgroup class="text-center">
                        <h2>Đổi mật khẩu</h2>
                        <p>
                            Dùng mẫu dưới để đổi mật khẩu.
                        </p>
                        <p>
                            Mật khẩu mới yêu cầu tối thiểu @Membership.MinRequiredPasswordLength ký tự.
                        </p>
                    </hgroup>



                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "Mật khẩu đổi không thành công. Xin vui lòng sửa lỗi và thử lại. ")
    
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                            <input name="OldPassword" type="password" class="form-control" placeholder="Mật khẩu cũ" required>
                        </div>
                        @Html.ValidationMessageFor(m => m.OldPassword)

                        <div style="padding-top: 2px;"></div>
    
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                            <input name="NewPassword" type="password" class="form-control" placeholder="Mật khẩu mới" required>
                        </div>
                        @Html.ValidationMessageFor(m => m.NewPassword)

                        <div style="padding-top: 2px;"></div>
    
      

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
                            <input name="ConfirmPassword" type="password" class="form-control" placeholder="Xác nhận mật khẩu" required>
                        </div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)

                        <div style="padding-top: 2px;"></div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Đỗi mật khẩu</button>
    
    
                    }
                </div>

            </div>
        </div>
    </div>
</div>
