@{
    ViewBag.Title = "SenBooks";
    Layout = "~/Areas/Accounting/Views/Shared/_Layout.cshtml";    
}


@using WebApp.Areas.Accounting.Models
@using WebApp.Areas.Accounting.Services

@section leftsidesidebarsection
{
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img class="img-circle" src="@(WebApp.Services.Media.PictureService.GetPictureUrl(WebApp.Services.GlobalUserContext.GetContext().SenUser.Avatar, 160, 160))" alt="User Image"/>
                </div>
                <div class="pull-left info">
                    <p>@(WebApp.Areas.Accounting.Services.GlobalVariant.GetAppUser().FullName)</p>
                    <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            @Html.Partial("_AppMenu")
        </section>
        <!-- /.sidebar -->
    </aside>

}
@section quickadd
{
    <div class="navbar-custom-menu">
        @Html.Partial("_MenuVoucherNew")
        @Html.Partial("_MenuListNew")
    </div>
}


<div class="box box-solid">
    <div class="box-header">
        <h3 class="box-title" style="margin-left: 14px;">Bán hàng</h3>
    </div>
    <div class="box-body">
        <!-- Main content -->
        <section class="">
        </section>
        <!-- /.content -->
        @*</aside>*@
        <!-- /.right-side -->

    </div>
</div>



@Scripts.Render("~/bundles/accapp")