@using WebApp.Areas.Accounting.Models
@using WebApp.Areas.Accounting.Services
@{

    //string POSView = "Nhà đầu tư";
    //string POSAdmin = "Quản lí quán";
    //string POSCash = "Thu ngân quán";
    //string POSOrder = "Order quán";

    string RoleName = GlobalVariant.GetAppUser().SysRole.Name;

    string ajaxstring = string.Format("data-ajax-update=#{0} ", "page-body-contain-id");
    ajaxstring += "data-ajax-success=ajaxmenu_onsuccess ";
    ajaxstring += "data-ajax-mode=replace ";
    ajaxstring += "data-ajax-method=GET ";
    ajaxstring += string.Format("data-ajax-loading=#{0} ", "ajaxloadingelementid");
    ajaxstring += "data-ajax=true ";

}


@switch (RoleName.ToLower())
{
    case "systems":
    case "administrators":        
    case "posadmin":
        @Html.Partial("_AppMenuResAdmin")
        break;
    case "poscash":
        @Html.Partial("_AppMenuResCash")
        break;
    case "posorder":
        @Html.Partial("_AppMenuResOrder")
        break;
    case "poskitchen":
        @Html.Partial("_AppMenuResKitchen")
        break;        
        default:
        @Html.Partial("_AppMenuResView")
        break;
}



<script>

    // Run on document ready
    $(function () {
        @*var IsAuthenticated="@User.Identity.IsAuthenticated";*@

        $('.sidebar-menu a').click(function () {
            $('ul.sidebar-menu > li').removeClass('active');
            $(this).closest('ul.sidebar-menu > li').addClass('active');
            if ($(this).attr("id") == null) { return; }
            location.hash = $(this).attr("id");
            $(document).scrollTop(0);
        });
    });



    var globalvariant = {
        syscompany: {},
        sysoption: {}
    }
    $(document).ready(function () {
        @{
            var sysoption = GlobalVariant.GetSysOption();
            var syscompany = GlobalVariant.GetSysCompany();
          <text>
        globalvariant.syscompany.CompanyName = "@(syscompany["CompanyName"].ToString())";
        globalvariant.syscompany.CompanyAddress = "@(syscompany["CompanyAddress"].ToString())";
        globalvariant.syscompany.CompanyPhone = "@(syscompany["CompanyPhone"].ToString())";
        globalvariant.syscompany.CompanyHomePage = "@(syscompany["CompanyHomePage"].ToString())";

        globalvariant.sysoption.RoundQuantity = "@(sysoption["RoundQuantity"].ToString())";
        globalvariant.sysoption.RoundAmount = "@(sysoption["RoundAmount"].ToString())";
        globalvariant.sysoption.RoundAmountFC = "@(sysoption["RoundAmountFC"].ToString())";

        globalvariant.sysoption.RoundUnitPrice = "@(sysoption["RoundUnitPrice"].ToString())";
        globalvariant.sysoption.RoundUnitPriceFC = "@(sysoption["RoundUnitPriceFC"].ToString())";

        </text>
            }
    });


</script>


<ul class="sidebar-menu">
    @if (User.IsInRole("Admin"))
    {

        <li class="treeview">
            <a href="#">
                <i class="fa fa-cog"></i>
                <span>Cấu hình quản trị</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a id="SysTableDetail" href="@Url.Action("Index", "SysTableDetail", new { area = "Accounting" })" @(ajaxstring)>
                        <i class="fa fa-cog"></i><span>SysTableDetail</span>
                    </a>
                </li>

                <li>
                    <a id="SysBusiness" href="@Url.Action("Index", "SysBusiness", new { area = "Accounting" })" @(ajaxstring)>
                        <i class="fa fa-cog"></i><span>SysBusiness</span>
                    </a>
                </li>

                <li>
                    <a id="SysMenu" href="@Url.Action("Index", "SysMenu", new { area = "Accounting" })" @(ajaxstring)>
                        <i class="fa fa-cog"></i><span>SysMenu</span>
                    </a>
                </li>

                <li>
                    <a id="AppItemOutputRateTable" href="@Url.Action("Index", "AppItemOutputRateTable", new { area = "Accounting" })" @(ajaxstring)><i class="fa fa-angle-right"></i><span>Định mức</span></a>
                </li>

                <li>
                    <a id="SysMenuRolePermission" href="@Url.Action("Index", "SysMenuRolePermission", new { area = "Accounting" })" @(ajaxstring)><i class="fa fa-angle-right"></i><span>Phân quyền menu</span></a>
                </li>

            </ul>
        </li>
    }
</ul>