@model int
@using WebApp.Areas.Accounting.Services
@{
    ((Dictionary<string, string>)ViewBag.ajaxoption)["action-return"] = "Index";
    Dictionary<string, string> ajaxoption = (Dictionary<string, string>)ViewBag.ajaxoption;

    ViewBag.Title = "Bút toán cuối kỳ";
}
<section id="@(ajaxoption["ajaxupdateid"])">
    <div class="box box-primary">
        @Html.Partial("_HeaderEdit")

        @using (@Ajax.BeginForm(new AjaxOptions { LoadingElementId = ajaxoption["ajaxloadingid"], InsertionMode = InsertionMode.Replace, UpdateTargetId = ajaxoption["ajaxupdateid"] }))
        {   
            <div class="box-body">
                @Html.AntiForgeryToken()
                @Html.bsValidationSummary(false)

                <input id="createtype" name="createtype" type="hidden"  value ="@Model" />
                @*<p class="text-success">@ViewBag.FcNextYearMessage</p>*@

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="month" class="control-label">Tháng</label>
                                        <input type="text" value="@DateTime.Today.Month" name="month" id="month" senviet-asep="" decimaldigits="0" senviet-vmin="1" senviet-vmax="12" class=" numeric form-control text-box single-line">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="year" class="control-label">Năm</label>
                                        <input type="text" value="@(DateTime.Today.Year)" name="year" id="year" senviet-asep="" decimaldigits="0" senviet-vmin="0" senviet-vmax="9999" class=" numeric form-control text-box single-line">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Thực hiện</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                @*@Html.Partial("_ToolbarListUpdate", ajaxoption)*@
            </div>
        }
        @Html.Partial("_FooterEdit")
    </div>
</section>

@Scripts.Render("~/bundles/accapp")


@*<script type="text/javascript">
    //Kiểm tra thay đổi tất cả các text
    $(document).ready(function () {

        $("#@(ajaxoption["ajaxupdateid"]) input[type='text'],#@(ajaxoption["ajaxupdateid"])  select").die(); //Xóa cache
        $("#@(ajaxoption["ajaxupdateid"]) input[type='text'],#@(ajaxoption["ajaxupdateid"])  select").on("change", function () {
            var sectionid = "#@(ajaxoption["ajaxupdateid"]) ";
            var $thisobject = $(this);
            var val = $(this).val();
            var nextval =parseFloat(val) + 1;
            var fieldname = $(this).attr("fieldname");
            $("#nextyear").val(nextval);

        });
    });
</script>*@
