<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Quản trị ứng dụng online</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @*    <meta name="viewport" content="width=device-width, initial-scale=1">*@
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <!-- bootstrap 3.0.2 -->
    @*<link href="~/Content/themes/Accounting/AdminLTE-master/css/bootstrap.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <link href="~/Content/themes/Accounting/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- font Awesome -->
    @*<link href="~/Content/themes/Accounting/AdminLTE-master/css/font-awesome.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/themes/Accounting/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />


    <!-- Ionicons -->
    <link href="~/Content/themes/Accounting/AdminLTE-master/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="~/Content/themes/Accounting/AdminLTE-master/css/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="~/Content/themes/Accounting/AdminLTE-master/css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- fullCalendar -->
    <link href="~/Content/themes/Accounting/AdminLTE-master/css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="~/Content/themes/Accounting/AdminLTE-master/css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="~/Content/themes/Accounting/AdminLTE-master/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->

    @Styles.Render("~/Content/css")

    <link href="~/Content/themes/Accounting/AdminLTE-master/css/AdminLTE.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    @Styles.Render("~/Content/themes/Accounting/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

</head>

<body class="skin-blue">
    <header>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img style="height: 40px; margin-top: -10px;" src="@Url.Content("~/Content/themes/Accounting/images/logo.png")" /></a>
                    <!-- Sidebar toggle button-->

                    <ul class="nav navbar-nav">
                        <li><a href="#" data-toggle="offcanvas"><span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-tasks fa-fw"></i>
                        </a>
                        </li>
                    </ul>

                </div>

                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>*@

                        @if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Quản trị", "Index", "Dashboard", new { area = "Admin" }, null)</li>                        
                        }
                        <li>@Html.ActionLink("Kế toán online", "Index", "Dashboard", new { area = "Accounting" }, null)</li>
                    </ul>

                    @Html.Partial("_UserNav")
                </div>

                <!--/.nav-collapse -->
            </div>
        </div>
    </header>

    <!-- header logo: style can be found in header.less -->


    <div class="wrapper row-offcanvas row-offcanvas-left" style="padding-bottom: 50px; padding-top: 50px;">
        <!-- Left side column. contains the logo and sidebar -->
        @RenderSection("leftsidesidebarsection", required: false)

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">

            <!-- Content Header (Page header) -->
            @*<section class="content-header">
                <h1>Dashboard
                       
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>*@

            <!-- Main content -->
            <section class="content">
                <div class="alert alert-success" id="sectioncontentmessage" style="display: none;">
                </div>
                <div class="row">
                    <div id="ajaxloadingelementid">
                        @*Đang xử lí...*@
                    </div>
                    <div class="col-xs-12">
                        <section id="page-body-contain-id">
                            @RenderBody()
                        </section>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </aside>

        <!-- /.right-side -->
    </div>

    <footer>
        <div class="footer">
            <div class="container">
                <div class="text-center">
                    <p>&copy; @DateTime.Now.Year - Sen Việt Application</p>
                    <a href="javascript:;" onclick="sendpm('52722ae2-ca9e-47fe-98dc-84a7e80d45ac')">Gửi phản hồi</a>
                </div>
            </div>
        </div>
    </footer>

    @Html.Partial("_Common")
    <!-- ./wrapper -->

    <!-- add new calendar event modal -->


    <!-- jQuery 2.0.2 -->





    @*<script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>*@
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>*@
    @*<!-- jQuery UI 1.10.3 -->
    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/jquery-ui-1.10.3.min.js")" type="text/javascript"></script>*@
    <!-- Bootstrap -->
    <script src="@Url.Content("~/Content/themes/Accounting/bootstrap/js/bootstrap.min.js")"></script>
    @*<script src="~/Content/themes/Accounting/AdminLTE-master/js/bootstrap.min.js" type="text/javascript"></script>*@
    <!-- Morris.js charts -->
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>*@

    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/plugins/input-mask/jquery.inputmask.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/plugins/input-mask/jquery.inputmask.date.extensions.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/plugins/input-mask/jquery.inputmask.extensions.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/plugins/morris/raphael-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/plugins/morris/morris.min.js")" type="text/javascript"></script>

        @* 
    <!-- Sparkline -->
    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/plugins/sparkline/jquery.sparkline.min.js")" type="text/javascript"></script>
    <!-- jvectormap -->
    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js")" type="text/javascript"></script>
    <!-- fullCalendar -->
    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/plugins/fullcalendar/fullcalendar.min.js")" type="text/javascript"></script>
    <!-- jQuery Knob Chart -->
    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/plugins/jqueryKnob/jquery.knob.js")" type="text/javascript"></script>
    <!-- daterangepicker -->
    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/plugins/daterangepicker/daterangepicker.js")" type="text/javascript"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/plugins/iCheck/icheck.min.js")" type="text/javascript"></script>*@



    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/AdminLTE/app.js")" type="text/javascript"></script>

    @*<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/AdminLTE/dashboard.js")" type="text/javascript"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/themes/Accounting/AdminLTE-master/js/AdminLTE/demo.js")" type="text/javascript"></script>*@



    @RenderSection("scripts", required: false)

    <script src="@Url.Content("~/Scripts/App/Admin/autoNumeric-1.7.4.js")"></script>
    <script src="@Url.Content("~/Scripts/App/Admin/Lookup.js")"></script>
    <script src="@Url.Content("~/Scripts/App/Admin/sv-autocomplete.js")"></script>


    <script src="@Url.Content("~/Scripts/App/Admin/Datetime/jquery.ui.datepicker-vi.js")"></script>
    <script src="@Url.Content("~/Scripts/App/Admin/Datetime/jquery-ui-timepicker-addon.js")"></script>


    <script src="@Url.Content("~/Scripts/App/Admin/Datetime/jquery.datetimeentry.min.js")"></script>
    <script src="@Url.Content("~/Scripts/App/Admin/Datetime/jquery.datetimeentry-vi.js")"></script>

    @*<script src="~/Content/themes/Accounting/bootstrap/js/bootstrap.min.js"></script>*@

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/editors/tinymce/tinymce.min.js")"></script>

    <link href="@Url.Content("~/Scripts/selectize/css/selectize.bootstrap3.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/selectize/js/standalone/selectize.js")"></script>

    <script type="text/javascript">
        function ajaxmenu_onsuccess() {
            //alert("Tải xong ròi!!!");
            $("input[type='text']").die(); //reset lại hàm live change trong ajax trước đó
        }

        //Xử lý ẩn hiện menu left
        $(document).ready(function () {
            //Cấu hình cache ajax
            $.ajaxSetup({ cache: false }); // trong ứng dụng không nên cache vì trong IE cache lại giá trị là không đúng
            //$(".panel h3:first").addClass("active"); //hiển thị menu đầu tiên
            //$(".panel > div:not(:first)").hide(); //không phải menu đầu tiên thì ẩn đi
            //$(".panel h3").click(function () {
            //    $(this).next("div").slideToggle();
            //    $(this).toggleClass("active");
            //});




        });

        // Run on document ready
        $(function () {
            // Get hash or set "#blog" as default
            var hash = document.location.hash;// || "#blog";
            // Trigger click event of anchor that has href as url hash
            //$('[href="' + hash + '"]').click();
            $(hash).click();

        });

    </script>

</body>
</html>
