@model IEnumerable<WebApp.Areas.Admin.Models.vw_aspnet_MembershipUsers>
@using WebApp.Areas.Admin.Services
@{
    var builderdiv = new TagBuilder("div");
    builderdiv.AddCssClass("btn-group");

    MvcHtmlString divex = Html.Partial("_Ex");

    builderdiv.InnerHtml = divex.ToString();

    ViewBag._ToolbarListEx = builderdiv.ToString();


    string action_create2 = Url.Action("AddCash");

    var appajaxoption = (WebApp.Areas.Admin.Models.AppAjaxOption)ViewBag.appajaxoption;
    var ajaxoption = appajaxoption.ajaxoption;
    string ajaxstring = appajaxoption.ajaxstring();

    var metaobject = WebApp.Areas.Admin.Services.GlobalMeta.GetMetaObject(ajaxoption["metaname"]);
    var columns = metaobject.GetMetaTable();

}

<div id="@(ajaxoption["ajaxupdateid"])">
    <div class="box box-primary">

        @Html.Partial("_HeaderList", ajaxoption)

        <div class="box-body">
            @Html.Partial("_bsToolbarList", ajaxoption)
            <hr />
            <div class="row-fluid">
                @using (@Ajax.BeginForm(new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = ajaxoption["ajaxupdateid"], LoadingElementId = ajaxoption["ajaxloadingid"] }))
                {
                    <div class="row-fluid">

                        <div class="table-responsive">

                            <table class="table table-striped table-condensed table-hover" data-tablename="@columns["UserId"].TableName" data-senviet-keys="UserId">
                                <tbody>
                                    @*phần header*@
                                    <tr class="headerrow">
                                        @Html.Partial("_bsTableHeaderCellConfig", columns)
                                        @Html.Partial("_bsTableHeaderRow", columns)
                                        <th></th>
                                    </tr>
                                    @*phần lọc số liệu*@
                                    <tr class="filterrow">
                                        <th></th>
                                        @Html.Partial("_bsTableFilterRow", columns)
                                        <th></th>
                                    </tr>


                                    @*phần nội dung*@
                                    @foreach (var item in Model)
                                    {
                                        <tr class="datarow" data-datarow-key="@(item.UserId)" data-datarow-para="@(string.Format("&{0}={1}", "UserId", item.UserId))">

                                            @Html.Partial("_bsTableEditCell", ajaxstring)

                                            @foreach (var column in columns)
                                            {
                                                if (!column.Value.GridViewShow == true) { continue; }

                                                switch (column.Value.ColumnName)
                                                {
                                                    default:
                                                @Html.Partial("_bsTableDataCell", item, new ViewDataDictionary() { { "column", column.Value } })
                                                        break;
                                                }
                                            }
                                            <td>
                                                @Html.Partial("_ExView",item)
                                            </td>
                                        </tr>
                                    }
                                    @*phần footer*@

                                    <tr class="footerrow">
                                        @Html.Partial("_bsTableFooterCellConfig")
                                        @Html.Partial("_bsTableFooterRow", columns)
                                        <th></th>
                                    </tr>

                                </tbody>

                            </table>

                        </div>
                        @Html.Partial("_PagingPartial", metaobject.Paging)
                    </div>
                }
            </div>
        </div>

        <div class="box-footer">
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/adminapp")


<div class="modal fade bs-sendpm-modal" id="senvietformaddcash" tabindex="-1" role="dialog" aria-labelledby="senvietformaddcash" aria-hidden="true">
    <div class="modal-dialog" id="modal_dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<script>


    function addcash(para) {
        var url = "@(action_create2)";
        if (para != "") {
            url = url + "?action_return=Index" + para;

            var mydiv = $("#senvietformaddcash").find(".modal-content");
            // Load the content using AJAX
            mydiv.load(url);
            // Open the dialog
            $('#senvietformaddcash').modal('show');
            return false;
        }
        else {
            alert("Phải chọn người dùng");
        }
    };

</script>
